{% extends "serwis2/base.html" %}
{% block content %}

<p>Pobierz dane</p>


<form action="{% url 'serwis2:index' %}" method="post">
    {% csrf_token%}
    {{form.as_p}}
    <button class="btn btn-secondary" name="submit" value="Submit"> Pobierz dane CSV</button>
</form>

<br>
<br>

<a href="http://serwis02.herokuapp.com/api/json/all">Wszystkie JSONY</a>
<br>
<br>
<p>
    2. Serwis który pobiera dane z pierwszego i konwertuje go do csv. Pierwszy endpoint który zawsze
    zwraca pobrane dane w formacie ‘type, _id, name, type, latitude, longitude’. Drugi endpoint który
    zwraca pobrane dane w danej strukturze csv czyli podajemy w zapytaniu ‘ id, latitude, longitude’ i
    oczekujemy że zwróci taki wynik ‘65483214, 51.0855422, 16.9987442’
</p>
{% endblock content %}